html{
    font-size: 20px;
}

body{
    background-color: #ccc;
    padding:50px;
    text-align: center;
}

.social{
    display: block;
}

.social .social__block{
    background-color: white;
    border-radius: 3.6em;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0em;
    height: 3.6em;
    line-height: 3.6em;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6em;
}


.social .social__block span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    width: 0;
}
.social .social__block:hover span {
    width: 3.6em;
    height: 3.6em;
    border-radius: 3.6em;
    margin: -1.8em;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}

.social .social_twitter span {
    background-color: #4099ff;
}
.social .social_facebook span {
    background-color: #3B5998;
}
.social .social_google-plus span {
    background-color: #db5a3c;
}

.social .social__icon i {
    background: none;
    color: white;
    height: 3.6em;
    left: 0;
    line-height: 3.6em;
    position: absolute;
    top: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    width: 3.6em;
    z-index: 10;
}

.social .social__block .social_twitter-icon {
    color: #4099ff;
}
.social .social__block .social_facebook-icon {
    color: #3B5998;
}
.social .social__block .social_google-plus-icon {
    color: #db5a3c;
}

.social .social__block:hover .social_twitter-icon,
.social .social__block:hover .social_facebook-icon,
.social .social__block:hover .social_google-plus-icon {
    position: relative;
    z-index: 2;
    color: white;
}

